// Colors

$background-color: #363537;
$primary-color: #FFFFFF;
$secondary-color: #DA4167;

// Fonts
$primary-font: 'Arial', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Font sizes
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

// Spacing (for margins, padding, etc.)
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-lg: 64px;